{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'playground/n.css' %}">
    <link rel="=preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">"
</head>

<body>
<div class="container">

<header>
    <h2>Options</h2>
</header>
<nav class="navbar">
    <ul>
        <li>  <a href="{% url 'temperature' %} " target='_blank' id="list1"> <i class="fa-sharp fa-solid fa-temperature-arrow-down fa-5px"></i> Temperature Converter</a></li>
        <li><a href="{% url 'weight' %}" ><i class="fa-solid fa-weight-scale"></i>Weight Convertor</a></li>
        <li><a href="{% url 'currency'%}"><i class="fa-solid fa-coins"></i>Currency Converter</a></li>
    </ul>
</nav>
    
<main>
</main>
</div>
</body>
</html>