<!DOCTYPE html>
<html lang="en">
<head>
    <title>website</title>
</head>
<body>
<form>
    <label for="Options" style="background-color:blue;color:orangered;font-size:21px;border:3px solid black;width:23px"><i>Phone or Email?</i></label>
    <br>
    <br>
    <select id="Options" name="Choices" required>
        <option value="phone">
            Phone
        </option>
        <option value="email">
            Email
        </option>
    </select>
    <br>
    <br>
    <button type="submit" style="background-color:yellowgreen;border:2px solid black;font-size:15px"><strong>Confirm?</strong></button>
    {% csrf_token %}
</form>
</body>
</html>